<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.1">

	<!-- Base Module Properties -->
	<id>htmlformentry</id>
	<name>HTML Form Entry</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.htmlformentry</package>
	<author>Darius Jazayeri</author>
	<description>
			FormEntry in-webapp, using HTML forms
	</description>

	<activator>org.openmrs.module.htmlformentry.HtmlFormEntryActivator</activator>

	<updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>
	<!-- /Base Module Properties -->

	<require_version>1.11.3, 1.10.2 - 1.10.*, 1.9.9 - 1.9.*</require_version>

	<aware_of_modules>
	    <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
		<aware_of_module>org.openmrs.module.metadatamapping</aware_of_module>
		<aware_of_module>org.openmrs.module.providermanagement</aware_of_module>
	</aware_of_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.htmlformentry.extension.html.AdminList</class>
	</extension>
	<extension>
		<point>org.openmrs.module.web.extension.FormEntryHandler</point>
		<class>org.openmrs.module.htmlformentry.extension.html.FormEntryHandlerExtension</class>
	</extension>

	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->


	<!-- Required Privileges
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties -->
	<globalProperty>
		<property>htmlformentry.dateFormat</property>
		<defaultValue></defaultValue>
		<description>
			Always display dates in HTML Forms in this (Java) date format. E.g. "dd/MMM/yyyy" for 31/Jan/2012.
		</description>
	</globalProperty>
	<globalProperty>
		<property>htmlformentry.timeFormat</property>
		<defaultValue>HH:mm</defaultValue>
		<description>
			Always display times in HTML Forms in this (Java) date format. E.g. "HH:mm" for 14:45.
		</description>
	</globalProperty>
	<globalProperty>
		<property>htmlformentry.showDateFormat</property>
		<defaultValue>true</defaultValue>
		<description>
			Set to true if you want static text for the date format to be displayed next to date widgets, else set to false.
		</description>
	</globalProperty>
	<globalProperty>
		<property>htmlformentry.datePickerYearsRange</property>
		<defaultValue>110,20</defaultValue>
		<description>
			datePickerYearsRange parameter can be  set here Eg:'110,20' meaning that the possible years that appear in the datepicker dropdown range from  20 years past the current year, and 110 years prior to the current year.
		</description>
	</globalProperty>
	<globalProperty>
		<property>htmlformentry.archiveDir</property>
		<defaultValue>htmlformentry/archive/%Y/%m</defaultValue>
		<description>
			Used to specify the directory used to serialize data as a blob submitted via html forms before propagation to the database.
			If a relative is specified then the directory is created in the default application data directory otherwise the absolute
			path is used.The %Y and %M are replaced with 4 digit year and 2 digit month respectively. If this property is empty nothing then nothing is saved.
		</description>
	</globalProperty>
	<globalProperty>
		<property>htmlformentry.archiveHtmlForms</property>
		<defaultValue>False</defaultValue>
		<description>Set to True if you want to archive the submitted html forms and False otherwise</description>
	</globalProperty>
	<!-- /Required Global Properties -->

	<dwr>
		<allow>
			<create creator="new" javascript="DWRHtmlFormEntryService">
				<param name="class" value="org.openmrs.module.htmlformentry.web.DWRHtmlFormEntryService"/>
				<include method="checkIfLoggedIn"/>
				<include method="authenticate"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
				import org.openmrs.module.htmlformentry.web.DWRHtmlFormEntryService;
				DWRHtmlFormEntryService.checkIfLoggedIn();
				DWRHtmlFormEntryService.authenticate(String user, String pass);
			]]>
		</signatures>
	</dwr>

	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name>
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->


	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
			<lang>en</lang>
			<file>messages.properties</file>
	</messages>
	<messages>
			<lang>fr</lang>
			<file>messages_fr.properties</file>
	</messages>
	<messages>
			<lang>es</lang>
			<file>messages_es.properties</file>
	</messages>
	<messages>
			<lang>ht</lang>
			<file>messages_ht.properties</file>
	</messages>
	<messages>
			<lang>pt</lang>
			<file>messages_pt.properties</file>
	</messages>
	<messages>
			<lang>de</lang>
			<file>messages_de.properties</file>
	</messages>
	<messages>
			<lang>de</lang>
			<file>messages_de.properties</file>
	</messages>
	<messages>
			<lang>fa</lang>
			<file>messages_fa.properties</file>
	</messages>
	<messages>
			<lang>si</lang>
			<file>messages_si.properties</file>
	</messages>
	<messages>
			<lang>hi</lang>
			<file>messages_hi.properties</file>
	</messages>
	<messages>
			<lang>ar</lang>
			<file>messages_ar.properties</file>
	</messages>
	<messages>
			<lang>pl</lang>
			<file>messages_pl.properties</file>
	</messages>
	<messages>
			<lang>it</lang>
			<file>messages_it.properties</file>
	</messages>
	<messages>
			<lang>el</lang>
			<file>messages_el.properties</file>
	</messages>
	<messages>
			<lang>ru</lang>
			<file>messages_ru.properties</file>
	</messages>
	<messages>
			<lang>lt</lang>
			<file>messages_lt.properties</file>
	</messages>
	<messages>
			<lang>hy</lang>
			<file>messages_hy.properties</file>
	</messages>
	<messages>
			<lang>te</lang>
			<file>messages_te.properties</file>
	</messages>
	<messages>
			<lang>sw</lang>
			<file>messages_sw.properties</file>
	</messages>
	<messages>
			<lang>ku</lang>
			<file>messages_ku.properties</file>
	</messages>
	<messages>
			<lang>id_ID</lang>
			<file>messages_id_ID.properties</file>
	</messages>
	<!-- /Internationalization -->

	<mappingFiles>
		HtmlFormEntryHtmlForm.hbm.xml
	</mappingFiles>

	<conditionalResources>
		<conditionalResource>
			<path>/lib/htmlformentry-api-1.10.*</path>
			<openmrsVersion>1.10</openmrsVersion>
		</conditionalResource>
		<conditionalResource>
			<path>/lib/htmlformentry-api-2.0.*</path>
			<openmrsVersion>2.*</openmrsVersion>
		</conditionalResource>
	</conditionalResources>

</module>
