
.drugorders-drug-section {
	padding: 5px;
	border: 1px dotted black;
}

.drugorders-drug-details {
	font-weight: bold;
}

.drugorders-drug-history {
	display: block;
	margin: 10px;
}

.drugorders-order-form {
	display: table;
	margin: 10px;
}

.drugorders-order-history-item {
	display: block;
}

.order-view-section {
	display: block;
}

.order-view-section.order-view-action {
	display: inline-block;
}

.order-view-section.order-view-dates {
	display: inline-block;
}

.order-view-field {
	display: inline-block;
}

.order-view-field.order-view-dose {
	font-weight:bold;
}

.order-view-field.order-view-route:before {
	content: "-- ";
	white-space: pre;
}
.order-view-field.order-view-frequency:before {
	content: "-- ";
	white-space: pre;
}
.order-view-field.order-view-as-needed:before {
	content: "-- ";
	white-space: pre;
}
.order-view-field.order-view-instructions:before {
	content: "-- ";
	white-space: pre;
}
.order-view-field.order-view-numRefills:before {
	content: "-- ";
	white-space: pre;
}

.order-view-field.order-view-discontinue-reason {
	font-weight:bold; padding-left:20px;
}

.order-view-different-encounter {
	color: grey;
}

.drugorders-selector-section {
	padding-top: 5px;
}

.instructions {
	font-size: 1.0em;
}

.order-field {
	display: table-row;
	padding: 5px;
	margin: 0px;
}

.order-field-label {
	display: table-cell;
	vertical-align: middle;
}

.order-field-label:after {
	content: ": ";
	white-space: pre;
}

.order-field-widget {
	display: table-cell;
}

.order-field-widget label {
	display: inline;
}

.order-view-field {
	padding-right: 10px;
}
