
.drugorders-drug-section {
	padding: 5px;
	border: 1px dotted black;
}

.drugorders-drug-remove-action {
	display: inline-block;
	padding-left: 10px;
	font-weight: bold;
}

.drugorders-drug-details {
	font-weight: bold;
	display: inline-block;
}

.drugorders-drug-details-concept {
	display: inline-block;
}

.drugorders-drug-details-concept:after {
	content: " -- ";
	white-space: pre;
}

.drugorders-drug-details-drug {
	display: inline-block;
	font-style: italic;
}

.drugorders-drug-details-drugNonCoded {
	display: inline-block;
	font-style: italic;
}

.drugorders-drug-history {
	display: block;
	margin: 10px;
}

.drugorders-order-form {
	display: table;
	margin: 10px;
}

.drugorders-order-form-concept {
	font-weight: bold;
}

.drugorders-order-history-item {
	display: block;
}

.drugorders-order-history-item.value {
	font-weight: normal;
}

.drugorders-drug-order-history-separator {
	margin-top: 5px;
	border-bottom: 1px dotted black;
	margin-bottom: 5px;
}

.order-view-section {
	display: block;
}

.order-view-section.order-view-action {
	display: inline-block;
}

.order-view-section.order-view-dates {
	display: inline-block;
}

.order-view-field {
	display: inline-block;
}

.order-view-field.order-view-dose {
	font-weight:bold;
}

.order-view-field.order-view-route:before {
	content: "-- ";
	white-space: pre;
}
.order-view-field.order-view-frequency:before {
	content: "-- ";
	white-space: pre;
}
.order-view-field.order-view-as-needed:before {
	content: "-- ";
	white-space: pre;
}
.order-view-field.order-view-instructions:before {
	content: "-- ";
	white-space: pre;
}
.order-view-field.order-view-numRefills:before {
	content: "-- ";
	white-space: pre;
}

.order-view-field.order-view-discontinue-reason {
	font-weight:bold; padding-left:20px;
}

.order-view-different-encounter {
	color: grey;
}

.drugorders-selector-section {
	padding-top: 5px;
}

.order-instructions {
	font-size: 1.0em;
}

.order-field {
	display: table-row;
	padding: 5px;
	margin: 0px;
}

.order-field-label {
	display: table-cell;
	vertical-align: middle;
}

.order-field-radio-group> * {
	display: inline;
	float: none !important;
	min-width: initial;
	vertical-align: middle;
}

.order-field-label:after {
	content: ": ";
	white-space: pre;
}

.order-field-widget {
	display: table-cell;
}

.order-field-widget label {
	display: inline;
}

.order-view-field {
	padding-right: 10px;
}

.order-action-button {
	display:inline-block;
	color:#444;
	border:1px solid #CCC;
	background:#DDD;
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
	cursor:pointer;
	vertical-align:middle;
	max-width: 200px;
	padding: 2px;
	margin-right: 5px;
	text-align: center;
}
.order-action-button:active {
	font-weight: bold;
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.drugorders-selected-action {
	background-color: #2200ff;
	color: white;
	font-weight: bold;
}
