input.illegalValue, textarea.illegalValue {
	background-color: #ff6666;
}

input.legalValue, textarea.legalValue {
	background-color: #ddffdd;
}

div.formEntrySection {
	border: 1px gray solid;
}

.formEntrySectionTitle {
	color: #444444;
	text-decoration: underline;
}

.value {
	color: #2200ff;
	font-weight: bold;
}

.emptyValue {
}

.complexValue{
    vertical-align: middle;
}

.complexImage {
    width: 100%;
    max-width: 100px;
}

#htmlFormEntryBanner {
	background-color: #e0e0e0;
	text-align: center;
	border-bottom: 1px black solid;
	border-top: 1px black solid;
	padding: 0.25em;
	height:30px;
}

.required {
	color:red;
}

div.loading {
	color:red;
	font-weight: bolder;
	font-size: 1.1em;
}

.drugorders-drug-section {
	margin: 10px;
}

.drugorders-drug-details {
	font-weight: bold;
}

.drugorders-drug-history {
	display: table;
}

.drugorders-order-history-item {
	display: table-row;
}

.order-view-section {
	display: table-cell;
	padding-left: 20px;
}

.order-view-field {
	display: inline;
}

.order-view-field.order-view-dose {
	font-weight:bold; padding-left:20px;
}
.order-view-different-encounter {
	color: grey;
}

.drugorders-header-section {
	padding-left: 10px;
}

.drugorders-order-form {
	padding-left: 20px;
	display: table;
}

.instructions {
	font-size: 1.0em;
}

.order-field {
	display: table-row;
	padding: 10px;
	margin: 5px;
}

.order-field-label {
	display: table-cell;
	vertical-align: top;
}

.order-field-label:after {
	content: ": ";
	white-space: pre;
}

.order-field-widget {
	display: table-cell;
}
